html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(250, 250, 250)
}
.inner-container {
  margin: 16px;
  width: 50%;
  padding: 16px;
}
.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
